.forme {	
	/* Font props */
	--forme-gutter: 16px;
	
	--forme-border-width: max(0.2vh, 1px);
  --forme-border-style: solid;
	--forme-border-radius: 0.50em;

	/* System color props */
	--forme-color-info: #3B9DEA;
	--forme-color-error: #FA4646;
	--forme-color-warning: #DBC53D;
	--forme-color-success: #46CD72;
	
	/* Monochromatic color props */
	--forme-color-x-1: #171A1E;
	--forme-color-x-2: #22272C;
	--forme-color-x-3: #373E45;
	--forme-color-x-4: #5C636F;
	--forme-color-x-5: #768091;
	--forme-color-x-6: #8C95A3;
	--forme-color-x-7: #BABFC8;
	--forme-color-x-8: #E5E7EB;
	--forme-color-x-9: #F2F3F5;
	--forme-color-x-10: #F7F8F9;
  --forme-color-x-11: #FFFFFF;

   /* font-family: "Helvetica Neue"; */
}