/* Light Theme */
:root {	
	/* Font props */
	--font-size: 14px;
	--font-family: "Montserrat", Arial, Helvetica, sans-serif;
	--icons-family: "Widgricon";
	/* Animation props */
	--transition-duration: 200ms;
	--transition-timing-function: ease-out;
	/* Input props */
	--input-border-width: 1px;
  --input-border-style: solid;
	--input-border-radius: 0.50em;
	/* System color props */
	--color-info: #3B9DEA;
	--color-error: #FA4646;
	--color-warning: #DBC53D;
	--color-success: #46CD72;
	
	/* Monochromatic color props */
	--color-x-1: #171A1E;
	--color-x-2: #22272C;
	--color-x-3: #373E45;
	--color-x-4: #5C636F;
	--color-x-5: #768091;
	--color-x-6: #8C95A3;
	--color-x-7: #BABFC8;
	--color-x-8: #E5E7EB;
	--color-x-9: #F2F3F5;
	--color-x-10: #F7F8F9;
  --color-x-11: #FFFFFF;
  
  background-color: var(--color-x-11);
  color: var(--color-x-1);
  font-family: var(--font-family);
  font-size: var(--font-size);
}